<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userSQL">
 	<insert id="write" parameterType="user">
		insert into management(id,pwd,name,department) values(#{id}, #{pwd}, #{name}, #{department}) 
 	</insert>
 	
 	<select id="loginCheck" parameterType="java.util.Map" resultType="String">
 		select id from management where id = #{id} and pwd = #{pwd} 
 	</select>
 	
 	<select id="checkId" parameterType="String" resultType="String">
 		select id from management where id = #{id}
 	</select>
 	
 	<select id="search" parameterType="java.util.Map" resultType="user">
 		select * from management 
 		
 		<choose>
 			<when test="subject == 'id'">
 				where ${subject} = #{content}
 			</when>
 			
 			<when test="subject == 'name'">
 				where  ${subject} like CONCAT('%',#{content},'%')
 			</when>
 			
 			<when test="subject == 'department'">
 				where ${subject} like CONCAT('%',#{content},'%')
 			</when>
 		</choose>
 	</select>
 	
 	<delete id="delete" parameterType="String">
 		delete from management where seq = #{seq}
 	</delete>
 	
 	<select id="userModify" parameterType="String" resultType="user">
 		select id , name , department from management where id = #{id}
 	</select>
 	
 	<update id="userUpdate" parameterType="java.util.Map">
 		update management set name = #{name} ,department = #{department} where id = #{id}
 	</update>
 	
 	
</mapper>